<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pending-products">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Products</ion-label>
      @if (pendingProducts > 0) {
        <ion-badge color="danger">{{ pendingProducts }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="seller-applications">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Sellers</ion-label>
      @if (pendingApplications > 0) {
        <ion-badge color="danger">{{ pendingApplications }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
